@charset "UTF-8";
/*
* @Stefan Mairbaeurl - 2016
*
* Multimedia-Engineering 1 - Übung
*
*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
/* Wrapper und Body
-----------------------------------------------------------------------
*/
.wrapper {
  width: 100%;
  height: 100%;
  display: table; }

.container {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

* {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0; }

body,
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #000000;
  background-color: #34465d;
  margin: 0 auto;
  padding: 0; }

.gs-960 {
  width: 960px;
  margin: 0 auto; }

/* Fonts
-----------------------------------------------------------------------
*/
a {
  color: #FF7043;
  text-decoration: none;
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer; }
  a:hover {
    color: #f63b00;
    text-decoration: none;
    border-bottom: 2px solid #f63b00;
    padding-left: 3px;
    padding-right: 3px; }
  a.icon {
    border-bottom: 0; }

h1 {
  font-weight: 400;
  font-size: 2.5em; }

h2 {
  font-weight: 400;
  font-size: 2em; }

h3 {
  font-weight: 400;
  font-size: 1.5em; }

h4 {
  font-weight: 400;
  font-size: 1.2em; }

h5 {
  font-weight: 400;
  font-size: 1.0em; }

h6 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5em; }
  h6.logo {
    transition: 0 !important;
    position: absolute;
    left: 35px;
    top: 35px; }

i.info-icon {
  position: relative;
  top: 35px; }

/* Coloring and Styling Elements
-----------------------------------------------------------------------
*/
.fa {
  margin-right: 5px; }

:focus {
  outline: 0; }

.fx-blur {
  -webkit-filter: blur(3px);
  filter: blur(3px); }

.fx-transparent {
  opacity: 0.3; }

.primary {
  color: #34465d; }

.secondary {
  color: #EEEEEE; }

.highlight {
  color: #FF7043; }

.white-background {
  background-color: #ffffff; }

.primary-background {
  background-color: #34465d; }

.secondary-background {
  background-color: #EEEEEE; }

.highlight-background {
  background-color: #FF7043; }

.text-shadow {
  text-shadow: 2px 2px 10px #a6a6a6; }

.cut-top {
  clip-path: polygon(0% 15%, -13% 100%, 100% 100%, 100% 2%);
  -webkit-clip-path: polygon(0% 15%, -13% 100%, 100% 100%, 100% 2%); }

.cut-top-bottom {
  clip-path: polygon(0% 15%, -13% 100%, 100% 85%, 100% 2%);
  -webkit-clip-path: polygon(0% 15%, -13% 100%, 100% 85%, 100% 2%); }

.cut-bottom {
  clip-path: polygon(0% 0%, -13% 100%, 100% 85%, 100% 0%);
  -webkit-clip-path: polygon(0% 0%, -13% 100%, 100% 85%, 100% 0%); }

@media only screen and (max-width: 769px) {
  h6 {
    font-size: 1.2em; }
    h6.logo {
      position: absolute;
      left: 15px;
      top: 35px; }
  .cut-top {
    clip-path: polygon(0% 15%, -13% 100%, 100% 100%, 100% 2%);
    -webkit-clip-path: polygon(0% 15%, -13% 100%, 100% 100%, 100% 2%); }
  .cut-top-bottom {
    clip-path: polygon(0% 20%, -3% 100%, 100% 85%, 150% 2%);
    -webkit-clip-path: polygon(0% 20%, -3% 100%, 100% 85%, 150% 2%); }
  .cut-bottom {
    clip-path: polygon(0% 0%, -13% 100%, 100% 85%, 100% 0%);
    -webkit-clip-path: polygon(0% 0%, -13% 100%, 100% 85%, 100% 0%); } }

/* Logo
-----------------------------------------------------------------------
*/
.logo {
  position: absolute;
  width: 450px; }

@media only screen and (max-width: 1440px) {
  html {
    width: 100%; } }

/* Header Element
-----------------------------------------------------------------------
*/
header.background-image {
  background-size: cover;
  background-image: url("../img/photo-1440492248262-6895f9da82fc.jpg"); }

/* footer Element
-----------------------------------------------------------------------
*/
.footer {
  padding: 15px 0 25px; }

/* background-images
-----------------------------------------------------------------------
*/
.search--background-image {
  background-image: url("../img/photo-1440492248262-6895f9da82fc.jpg");
  width: 100%;
  height: 550px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1; }

.content-z {
  z-index: 2; }

/* Section Definiert
-----------------------------------------------------------------------
*/
footer,
header,
section {
  position: relative;
  top: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: center; }
  footer.header-size,
  header.header-size,
  section.header-size {
    width: 100%;
    height: 700px; }
  footer.small-size,
  header.small-size,
  section.small-size {
    width: 960px;
    height: 350px; }
  footer.full-small-size,
  header.full-small-size,
  section.full-small-size {
    width: 100%;
    height: 350px; }
  footer.big-size,
  header.big-size,
  section.big-size {
    width: 960px;
    height: 550px; }
  footer.full-big-size,
  header.full-big-size,
  section.full-big-size {
    width: 100%;
    height: 550px; }
  footer.background-color,
  header.background-color,
  section.background-color {
    background-color: #34465d; }

/* Info Section
-----------------------------------------------------------------------
*/
.infocontainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 960px; }
  .infocontainer.item {
    text-align: center;
    padding: 10px;
    display: block; }
    .infocontainer.item.icon {
      width: 160px;
      height: 160px;
      border-radius: 120px; }
    .infocontainer.item.text {
      width: 280px;
      padding: 10px 0; }

@media only screen and (max-width: 900px) {
  .infocontainer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: block;
    width: auto; } }

/* Table
-----------------------------------------------------------------------
*/
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0 15px; }

th {
  background-color: #2b3a4d;
  color: white; }

tr:hover {
  background-color: #465f7e; }

tr:nth-child(odd) {
  background-color: #3d526d; }

td,
th {
  height: 50px;
  text-align: left;
  padding: 5px;
  border-bottom: #4f6b8e solid 1px; }
  td.name,
  th.name {
    width: 25%; }
  td.ssid,
  th.ssid {
    width: 30%; }
  td.password,
  th.password {
    width: 20%; }
  td.location,
  th.location {
    width: 15%; }
  td.person,
  th.person {
    width: 30%; }
  td.edit,
  th.edit {
    width: 5%; }

@media only screen and (min-width: 319px) and (max-width: 960px) {
  table,
  tbody,
  td,
  th,
  thead,
  tr {
    width: 95%;
    text-align: left;
    display: block;
    overflow: hidden;
    padding: 10px 15px; }
    table.ssid, table .password, table .location, table .person, table .edit,
    tbody.ssid,
    tbody .password,
    tbody .location,
    tbody .person,
    tbody .edit,
    td.ssid,
    td .password,
    td .location,
    td .person,
    td .edit,
    th.ssid,
    th .password,
    th .location,
    th .person,
    th .edit,
    thead.ssid,
    thead .password,
    thead .location,
    thead .person,
    thead .edit,
    tr.ssid,
    tr .password,
    tr .location,
    tr .person,
    tr .edit {
      width: 100%; }
  thead tr {
    display: none; }
  th {
    background-color: #2b3a4d;
    color: white; }
  tr:nth-child(odd) {
    background-color: #3d526d; }
  td {
    padding: 5px; }
    td:before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      width: 100px; } }

/* Input
-----------------------------------------------------------------------
*/
input.big-search {
  padding: 5px;
  font-size: 37px;
  width: 280px;
  background: inherit;
  border: 0;
  position: relative;
  text-align: left;
  color: #34465d;
  border-bottom: 2px solid #EEEEEE; }
  input.big-search:placeholder-shown {
    color: #34465d !important; }
  input.big-search::-webkit-input-placeholder {
    color: #34465d !important; }

input.textfield {
  border-radius: 3px;
  margin: 0 0 6px;
  padding: 10px 15px;
  font-size: 1em;
  width: 280px;
  background: #c9d3e1;
  border: 0;
  position: relative;
  text-align: left;
  color: #34465d; }
  input.textfield:placeholder-shown {
    color: black !important; }
  input.textfield::-webkit-input-placeholder {
    color: black !important; }

button.button {
  border: 0;
  color: #ffffff;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 3px; }
  button.button:hover {
    background-color: #959595; }
  button.button.button-primary {
    color: #ffffff;
    background-color: #34465d; }
    button.button.button-primary:hover {
      background-color: #2b3a4d; }
  button.button.button-secondary {
    color: #000000;
    background-color: #EEEEEE; }
    button.button.button-secondary:hover {
      background-color: #e1e1e1; }
  button.button.button-highlight {
    color: #ffffff;
    background-color: #FF7043; }
    button.button.button-highlight:hover {
      background-color: #f63b00; }
  button.button.button-search {
    color: #EEEEEE;
    background-color: transparent;
    position: relative;
    font-size: 0.95em;
    font-weight: 400; }
    button.button.button-search:hover {
      color: #c8c8c8; }
